* {
  box-sizing: border-box;
}

.container {
  background: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;

  .section-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
      max-width: 800px;
    }

    .rick-and-morty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 200px;
      width: 100%;

      cursor: pointer;

      @media (min-width: 768px) {
        height: 300px;
      }

      h1 {
        z-index: 1;
        display: flex;
        color: white;
        font-size: 2rem;
        font-weight: 200;
        text-align: center;
      }

      h3 {
        margin-left: 1rem;
        margin-right: 1rem;
        z-index: 1;
        display: flex;
        color: white;
        font-size: 1rem;
        font-weight: 200;
        text-align: center;
      }
    }

    .rick-and-morty-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      background: url("../../asset/rick-and-morty-wallpaper.jpeg");
      background-clip: border-box;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: right;
      background-position-y: 80%;
      filter: brightness(70%);

      @media (min-width: 768px) {
        filter: none;
        background-position-x: right;
        background-position-y: 80%;
        &:hover {
          filter: brightness(90%);
        }
      }
    }

    .fake-store {
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (min-width: 768px) {
        height: 300px;
      }

      .fake-store-text {
        font-size: 2rem;
        font-weight: 300;
        color: #053a65;
        z-index: 1;

        // TODO it's not working
        &:hover + .fake-store-bg {
          filter: brightness(90%);
        }
      }
    }
    .fake-store-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url("../../asset/fake_shop_bg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: 768px) {
        &:hover {
          filter: brightness(90%);
        }
      }
    }

    .resume-frame {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      max-height: 400px;
      min-height: 100px;
      width: 100%;
      background: url("../../asset/cv_bg_1.png");
      background-color: #f0f3ec;
      background-position: right;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 4px;
      position: relative;
      padding: 1rem;
      padding-left: 1.5rem;
      color: #507e8d;

      @media (min-width: 768px) {
        padding-left: 4rem;
        background-size: contain;
      }

      h1 {
        text-align: left;
        max-width: 180px;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
        padding-top: 2rem;
        padding-bottom: 1.5rem;

        @media (min-width: 400px) {
          max-width: 300px;
        }

        @media (min-width: 768px) {
          max-width: 500px;
        }
      }
    }
  }
}
