.container {
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  background: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .section-container {
    display: flex;
    width: 100%;
    margin: 1rem;
    border-radius: 4px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.808);

    .link {
      padding: 1rem;
      text-decoration: none;
    }
    .rm {
      display: flex;
      position: relative;
      height: 200px;
      width: 100%;
      border-radius: 4px;
      background: url("../../asset/rick-and-morty-wallpaper.jpeg");
      background-clip: border-box;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: right;
      background-position-y: 80%;
      cursor: pointer;

      @media (min-width: 768px) {
        flex-direction: row;
        height: 300px;
        background-position-x: right;
        background-position-y: 80%;
      }

      .rm-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      h1 {
        color: white;
        font-size: 2rem;
        font-weight: 200;
        text-align: center;
      }

      h3 {
        color: white;
        font-size: 1rem;
        font-weight: 200;
        text-align: center;
      }
    }

    @media (min-width: 768px) {
      max-width: 800px;
    }

    .resume-frame {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      max-height: 400px;
      min-height: 100px;
      width: 100%;
      background: url("../../asset/cv_bg_1.png");
      background-color: #f0f3ec;
      background-position: right;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 4px;
      position: relative;
      padding: 1rem;
      padding-left: 1.5rem;
      color: #507e8d;

      @media (min-width: 768px) {
        padding-left: 4rem;
        background-size: contain;
      }

      h1 {
        text-align: left;
        max-width: 180px;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: 500;
        padding-top: 2rem;
        padding-bottom: 1.5rem;

        @media (min-width: 400px) {
          max-width: 300px;
        }

        @media (min-width: 768px) {
          max-width: 500px;
        }
      }
    }
  }
}
