.cn_main_container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: white;
  padding: 1rem;
  min-height: 180px;
  background: url("../../asset/chuck-norris-background.png");
  background-position-x: right;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;

  .cn_container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .text {
      padding: 0 4rem 0 1rem;
      text-align: center;
      animation: fade_text 500ms ease-in;
      color: #392c63;
      font-size: 1.2rem;

      @media (min-width: 768px) {
        padding: 0 10rem 0 3rem;
      }
    }

    .text.active {
      animation: slide_text 1500ms ease-out 780ms;
    }
  }
  .norris.active {
    position: absolute;
    bottom: 1rem;
    left: 0rem;
    background-image: url("../../asset/chuck.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8rem;
    height: 10rem;
    opacity: 0;
    animation: kicking 1500ms;
  }

  .kick {
    border: 1px solid #392c63;
    color: #392c63;
    border-radius: 4px;
    padding: 0.3rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
  }
}

@keyframes kicking {
  0% {
    opacity: 0;
    bottom: -5rem;
    left: -10rem;
    transform: scale(1);
    transform: rotate(-50deg);
  }
  20% {
    transform: scale(1.6);
  }
  30% {
    opacity: 1;
    bottom: 2rem;
    left: 2rem;
  }
  45% {
    transform: rotate(0);
    transform: scale(1.2);
  }
  50% {
    opacity: 1;
    bottom: 0rem;
    left: 4rem;
    transform: scale(1);
    transform: rotate(10deg);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    bottom: 0rem;
    left: 4rem;
    transform: translateZ(0);
  }
}

@keyframes slide_text {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(80rem);
  }
}
@keyframes fade_text {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}
