@import "../../params.scss";

.card-container {
  margin: 0.5rem;
  padding: 3px;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.card-container-front {
  display: flex;
  justify-content: center;
  align-items: center;
  
  //padding: 2px;
  min-width: 30vh;
  max-width: 50vh;
  min-height: 20vh;
  max-height: 30vh;

  height: 20vh;
  width: 50vw;
  
  background: linear-gradient(45deg, $mainYellowDay, $mainOrangeDay);
  border-radius: 8px;

  transform-style: preserve-3d;
  transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
  overflow: hidden;
}
