@import "../../../node_modules/bootstrap/scss/bootstrap";

html {
  background: whitesmoke;
  margin: 0;
  width: auto;
  padding: 0;
}

body {
  background: whitesmoke;
  margin: 0;
  width: auto;
  padding: 0;
}
