@import "./base.scss";

.product-image {
  min-width: 250px;
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

@include media-breakpoint-up(md) {
  .item-crp {
    min-width: 140px;
  }
  .product-image {
    min-width: 150px;
    min-height: 150px;
  }
}
