.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background: #fff;
  gap: 1rem;
  //padding-bottom: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .resume-left-side {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    width: 100%;
    gap: 1rem;
    padding-bottom: 1rem;

    @media (min-width: 768px) {
      max-width: 600px;
      justify-content: space-around;
    }
  }

  .resume-right-side {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #39a7ff;
    padding-left: 1rem;
    padding-right: 1rem;
    //padding-bottom: 1rem;
    //gap: 0.3rem;

    @media (min-width: 768px) {
      min-width: 300px;
      justify-content: space-around;
    }
  }
}
