// Colors
$mainBlueDay: #9adcff;
$mainYellowDay: #fff89a;
$mainOrangeDay: #ffb2a6;
$mainPinkDay: #ff8aae;


$mainBlueDay80: #9adcffcc;
$mainYellowDay80: #fff89acc;
$mainOrangeDay80: #ffb2a6cc;
$mainPinkDay80: #ff8aaecc;

$mainBlueDay60: #9adcff99;
$mainYellowDay60: #fff89a99;
$mainOrangeDay60: #ffb2a699;
$mainPinkDay60: #ff8aae99;

$mainBlueDay40: #9adcff66;
$mainYellowDay40: #fff89a66;
$mainOrangeDay40: #ffb2a666;
$mainPinkDay40: #ff8aae66;

$mainBlueDay20: #9adcff33;
$mainYellowDay20: #fff89a33;
$mainOrangeDay20: #ffb2a633;
$mainPinkDay20: #ff8aae33;